* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background-image: url("background2.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      font-family: 'Nerko One', cursive;
  }
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container-fluid{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      height: 10vh;
      width: 100vh;
  }

  #board {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  #myIndex{
    display: block;
    padding: 20px 100px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  h1,h2,big,p,marquee{
    color: white
  }
  .box {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    color: var(--text);
  }

  #restart {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }
  #btnPlay{
    padding: 10px 20px;
    background-color: rgba(100, 0, 0, 0.5);
    color: crimson;
    border-radius: 10px;
    text-align: center;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .btn {
    font-size: 20px;
    color: crimson;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.6);
  }